<header>
    <nav>
        <a href="/">MealFinder</a>
        <ul>
            <li><a href="/cuisines">Cuisines</a></li>
            <li><a href="/cuisines/new">Add Cuisines</a></li>
        </ul>
    </nav>
</header>