<div class="flex items-center justify-center pt-2 pl-2 ">
    <div class="px-4 py-2 border-2 border-teal-300 rounded relative h-11">
        <label class="absolute -my-5 -mx-[0.3rem] bg-[#050e23] px-5 right-[4.6rem] text-teal-300 font-bold">Type</label>
        <input type="text"
            class="appearance-none border-2 bg-[#050e23] border-[#050e23] rounded w-full  text-white leading-tight focus:outline-none focus:bg-[#050e23] focus:border-[#050e23]"
            name="type" value="<%= cuisine.type %>" placeholder="Italian">
    </div>
</div>