<div class="flex items-center justify-center pt-2 pl-2">
    <div class="px-4 py-2 border-2 border-teal-400 rounded relative h-11">
        <label class="absolute -my-5 text-center mx-[0.65rem] bg-[#050e23] right-[4.9rem] text-teal-300 w-[3rem] px-1 font-semibold">Type</label>
        <input type="text"
            class="-mt-2 bg-[#050e23] border-none focus:outline-none focus:ring-0 rounded w-full text-white leading-tight" autocomplete="off"
            name="type" value="<%= cuisine.type %>" placeholder="Italian">
    </div>
</div>