<h2>Search Recipe</h2>
<form action="/recipes" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Ingredients</label>
        <input type="text" id="addIngredient">
        <button type="button" id="addIngBtn" class="btn-primary"> <i class="fa-solid fa-circle-plus"></i> </button>
        <div class="listHolder">
            <ul class="list"></ul>
        </div>
        <input type="hidden" name="rawIng" id="rawIngID" value="<%= searchOptions.rawIng + "," %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <% recipes.forEach(recipe => { %>
        <img height="150" width="150" alt="avatar"  style="border-radius: 50%;" src="<%= recipe.foodImagePath %> ">
    <% }) %>
</div>